.wrapper {
    display: flex;
    width: 100%;
  }
  
  .icon {
    margin-left: auto;
  }


  .search-container {
    display: flex;
    align-items: center; /* Vertically center items */
}

.search-input {
    flex: 1; /* Take remaining space */
    margin-right: 10px; /* Adjust spacing between input and button */
}
